body{
margin:0;
font-family:Arial, sans-serif;
background-color:#790855;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.container{
width:350px;
margin:auto;
background:#d46fb3; 
padding:30px;
border-radius:10px;
color:white;
}

input,select{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:none;
}

button{
width:100%;
padding:12px;
background:linear-gradient(90deg,#e69dc7,#6366f1);
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid white;
padding:8px;
text-align:center;
}